<%- include('./partials/header.ejs') %>
<div class="logincontainer flex items-center justify-center w-full min-h-screen p-4">
    <div class="loginpanel bg-white p-6 rounded-md shadow-md w-full max-w-sm">
        <h3 class="text-2xl mb-3 text-center">Create Account</h3>
        <form action="/register" class="registerForm flex flex-col gap-4" method="post">
            <input class="block px-3 py-2 border border-zinc-200 rounded-md w-full" autocomplete="off" type="email" placeholder="Email" name="email">
            <input class="block px-3 py-2 border border-zinc-200 rounded-md w-full" autocomplete="off" type="text" placeholder="Username" id="username" name="username">
            <input class="block px-3 py-2 border border-zinc-200 rounded-md w-full" autocomplete="off" type="text" placeholder="Full Name" name="name">
            <input class="block px-3 py-2 border border-zinc-200 rounded-md w-full" autocomplete="off" type="password" placeholder="Password" name="password">
            <input class="block px-4 py-2 bg-blue-500 rounded-md text-white w-full cursor-pointer" autocomplete="off" type="submit" value="Create">
        </form>
        <a class="mt-5 inline-block text-blue-500 text-center block" href="/">Have an account? Login here.</a>
    </div>
</div>
<%- include('./partials/footer.ejs') %>
