@font-face {
    font-family: best;
    src: url(./3413twklausanne.woff2);
    font-weight: 100;
}
@font-face {
    font-family: best;
    src: url(./6035twklausanne.woff2);
    font-weight: normal;
}
